@{
    ViewBag.Title = "Contacts";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="box">
    <h1>Контакты:</h1>
    <div class="contacts-outer">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4351.960236612945!2d24.1072164!3d56.9491419!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eecfd717f35999%3A0x5cf8d54261869925!2s1991.%20Gada%20Barikazu%20Dalibnieku%20Pieminu%20Zimes%20Valde!5e0!3m2!1sru!2sru!4v1650706713715!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
            <p>+7 999 999 99 99</p>
            <p>fkskdlsl@gmail.com</p>
        </div>
    </div>
</div>
